{% extends 'pidapp/base.html' %}

{% block content %}
<div class="container">
    <h3> Product Identification System </h3>
    <p>Is a ethereum based contract that is developed to allow company or organization to store their genuine products on the ethereum block. It allows company to manage their product information and allow public to read the product detail via the generate hashcode of their product. </p>
    <h3> For Guest </h3>
    <p>We know your frustration in figuring out whether the product is valid or not, this system will check your product serial code with the company's db. Just simply putting the product primary keys and hashtag <code>#</code> and the serial key</p>

</div>


{% endblock %}

